<div id="pay">
    <div>
        <div class="currency">
            <span>€</span>
            <input type="number" id="amount" value="{{ include.prix_conseil_ttc }}" />
        </div>
        <button type="submit" id="payButton">Payer</button>
    </div>
    <div id="error"></div>
    <div id="notification"></div>
</div>

<script>
    const stripe_public_token = '{{ site.stripe_public_key }}'
    const minimum = {{ include.prix_mini_ttc }}

    const stripe = Stripe(stripe_public_token)

    const notification = document.querySelector('#notification')

    function writeLoading(msg) {
        clearMessage()
        document.querySelector('#notification').innerHTML = msg
        document.querySelector('#amount').setAttribute('disabled', true)
        document.querySelector('#payButton').setAttribute('disabled', true)
    }

    function writeError(msg) {
        clearMessage()
        document.querySelector('#error').innerHTML = msg
    }

    function clearMessage() {
        document.querySelector('#amount').classList.add("is-valid")
        document.querySelector('#amount').classList.remove("is-invalid")
        document.querySelector('#error').innerHTML = ''
        document.querySelector('#notification').innerHTML = ''  
        document.querySelector('#amount').removeAttribute('disabled')
        document.querySelector('#payButton').removeAttribute('disabled')
    }


    function setMinimumAmountMessage() {
        document.querySelector('#amount').classList.add('is-invalid')
        document.querySelector('#error').innerHTML = `Le montant doit être minimum de ${minimum} euros.`
    }

    const button = document.querySelector('#payButton')
    button.onclick = e => {
        let amount = document.querySelector('#amount').value
        amount = amount.replace(/\$/g, '').replace(/\,/g, '')
        amount = parseFloat(amount)
        if(amount >= minimum) {
            writeLoading('Veuillez patienter, vous allez être redirigé vers la page de paiement.')
            const fetch_params = { method: 'POST' }
            console.log("montant : " + amount);
            fetch(`{{ site.pay_server }}/checkout/degaine?amount=${amount}`, fetch_params)
                .then(function(response) {
                    console.log(response)
                    //Response {type: "cors", url: "https://test-boutik.herokuapp.com/checkout/degaine?amount=72", redirected: false, status: 200, ok: true, …}
                    if(response.ok) {
                        console.log("Response wan ok !!")
                        response.text().then(function(checkout_id) {
                            console.log(checkout_id)
                            stripe.redirectToCheckout({
                                // Make the id field from the Checkout Session creation API response
                                // available to this file, so you can provide it as parameter here
                                // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                                sessionId: checkout_id
                            }).then(function (result) {
                                writeError(result.error.message)
                                // If `redirectToCheckout` fails due to a browser or network
                                // error, display the localized error message to your customer
                                // using `result.error.message`.
                            })
                        })
                    } else {
                        switch (response.status) {
                            case 404:
                                writeError("Bizarre, le produit n'existe pas. Contactez-nous ?")
                                break;
                            case 400:
                                response.text().then(function(text) {
                                    if(text == "Amount is below the minimum amount") {
                                        writeError("Le montant est inférieur au minimum pour ce produit. Contactez-nous ?")
                                    } else { //* 400 + "Something went wrong while processing payment."
                                        writeError("Bizarre, une erreur s'est produite sur le serveur de paiement. Contactez-nous ?")
                                    }
                                })
                                break;
                            case 410:
                                writeError("Oh non ! Le produit n'est plus disponible actuellement. Contactez-nous ?")
                                break;
                            case 500:
                                writeError("Bizarre, une erreur inconnue s'est produite. Veuillez réessayer plus tard ?")
                                break;
                        }                
                    }
                })
                .catch(function(error) {
                    writeError("la connexion au serveur de paiement a échoué. Veuillez réessayer plus tard ?")
                })
            }
        else {
            setMinimumAmountMessage()
        }
    }
</script>
