/*  placez votre code css ici */

body {
  font-size: 1em;
}

h1 {
  font-family: $police;
  color: $couleur-titre;
}

.container {
  width: 100%;
  max-width: 845px;
}

header .search-engine input[type="submit"] {
  font-size: 1.1rem;
}

.blobContent h1 {
  font-size: 2.3rem;
}

.blobContent h2 {
  font-size: 2rem;
}

.blobContent h3 {
  font-size: 1.4875rem;
}

.blobContent h4 {
  font-size: 1.1875rem;
  font-size: 1.4875rem;
}

.blobContent table {
  font-size: 1.488rem;
}

.ghTypeFile h2:before {
  background: url('data:image/svg+xml,<svg height="16" width="12" xmlns="http://www.w3.org/2000/svg"><path d="M6 5H2v-1h4v1zM2 8h7v-1H2v1z m0 2h7v-1H2v1z m0 2h7v-1H2v1z m10-7.5v9.5c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V2c0-0.55 0.45-1 1-1h7.5l3.5 3.5z m-1 0.5L8 2H1v12h10V5z" fill="rgba(115, 213, 107, 1)" /></svg>')
    0 0 no-repeat;
}

/*
  payButton style
*/

#error,
#notification {
  display: inline-block;
}
#error {
  color: red;
}
#notification {
  color: green;
}
#amount {
  font-size: 1em;
  width: 6.5em;
  padding: 0 0.5em 0 1em;
  line-height: 2em;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

#pay {
  position: relative;
  padding-bottom: 1.5em;
  font-size: 1.2em;
  div:first-of-type {
    display: flex;
  }
  div:not(:first-of-type) {
    line-height: 1em;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

#payButton {
  margin: 0 1em;
  width: 9em;
  font-size: 1em;
  line-height: 2em;
  border-radius: 4px;
  border: 0;
  color: #fff;
  background-color: #a0d468;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s ease, border-color 0.25s ease,
    color 0.25s ease;

  &:hover {
    background-color: #8cc152;
  }
  &:disabled {
    background: #ccc;
    cursor: wait;
  }
}

.currency {
  position: relative;
  span {
    line-height: 2em;
    position: absolute;
    left: 0.5em;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.blobContent {
  img {
    width: 100%;
  }
}

#gallery {
  & > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 1em;
    margin: 0;
  }
  li {
    padding: 0;

    &::before {
      content: "";
    }
  }
}
