/* réglages géneraux  */
$police: "Open Sans", Arial, sans-serif;
$couleur-texte: #002920;
$couleur-fond: rgb(252, 249, 255);
$couleur-bordure: #73d56b;

/* les liens  */
$couleur-lien: black;

/* les titres  */
$couleur-titre: #73d56b;
$police-titre: "Montserrat", Arial, sans-serif;
$couleur-titre-lien: #002920;
$couleur-titre-span: #73d56b;

/* en-tete */
$couleur-bordure-entete: #002920;

/* contenu */
$police-contenu: Georgia, "Times New Roman", Times, serif;
$couleur-contenu: rgba(0, 0, 0, 0.7);
$couleur-bordure-image: #73d56b;
$couleur-contenu-lien: #002920;
$couleur-fond-citation: #fff;
$couleur-bordure-contenu-lien: #002920;
$couleur-contenu-lien-survol: #73d56b;
$couleur-contenu-lien-bordure-survol: #73d56b;
$couleur-bordure-citation: #73d56b;
